*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
.nav{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #daac00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-item{
    display: flex;
    gap: 45px;
    font-size: 25px;
}
.nav-item li{
    list-style: none;
    
}
.nav-item li a{
      text-decoration:none;
      color: white;
      font-weight: 300;
}
.front{
    width: 100%;
    height: 100vh;
    background-color: #fcc302;
    overflow: hidden;
}
.inp input{
    padding: 10px 10px;
    background-color: #fcc302;
    border: none;
    color: white;
}
::placeholder{
    color: white;
}
.inp .btn{
    padding: 10px 15px;
    background-color: #00bec9;
    color: white;
    border: none;
}
.hero{
    display: flex;
    padding: 6px 40px;
}
.hero .info {
    padding: 10% 5%;
}
.info h1{
    color: white;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info p{
    color: white;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}
.info  .btn ,.btn2{
    padding: 15px 30px;
    margin-top: 35px;
    margin-left: 15px;
    border-radius: 4px;
    border: none;
}
.info .btn:hover,
.info .btn2:hover
{
    background-color: #00bec9;
    color: white;
    font-weight: 500;
}
.hero img{
    padding: 5% 5%;
}

.second-part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    padding: 0% 1%;
}
.second-part .info h1{
    color: black;
    
}
.second-part .info p{
    color: black;
    font-size: 1.1vw;
    
}
.second-part .info .btn{
    background-color: #fcc302;
    color: white;
    border-radius: 4px;
    font-size:20px;
}
.third-part{
    width: 100%;
    background-color: #fcc302;
    margin-top: 5%;
}
.third-part .title{
    text-align: center;

}
.third-part p{
    text-align: center;
    font-size: 1.5rem;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}
.content{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 2%;
}
.content .content-p{
    align-items: center;
    color: white;
}
.content h1{
    align-items: center;
    color: white;
    margin-left: 20%;
}
.fourth-part{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.fourth-part img{
   margin-left: 85%;
}
 .fourth-part .info h1 {
    color: black;
    text-align: right;
    margin-left: 40%;
    margin-top: 10%;
    padding:0 10%;

 }
 .fourth-part .info p {
    color: black;
    text-align: right;
    padding: 2% 10%;
    margin-left: 40%;
 }
 .fourth-part .btn{
   margin-left: 78%;
   background-color: #daac00;
   color: white;
   font-weight: 800;
   font-size: 100%;
 }

.fifth-part{
    margin-top: 10%;
    width: 100%;
    height: 100vh;
    background-color:#daac00;
 }
 .fifth-part .main{
    padding: 3% 10%;
  
 }
.main .info{
    text-align: center;
    margin-top: 5%;
 }
 .main .info p{
    margin-top: 2%;
    font-size: 30px;
 }
.main .price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
    font-size: 35px;
    color: white;
    font-weight: 800;
  }
.main .btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
  }

  .btn button{
    background-color: #00bec9;
    color: #fff;
    border: none;
    font-size: 25px;
    padding: 0.5% 2%;
    border-radius: 20px;
    font-weight: 600;
  }
.footer-con{ 
    margin-top: 10%;
    background-color: #343434;
    height: 60vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    gap: 20%;
}
.footer-con .info1{
    margin-top: -175px;
    margin-left: 10%;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.footer-con .info2{
    margin-top: -150px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-con .info3 h1{
    text-align: right;
    margin-right: 50%;
    margin-top: -120px;
    font-size: 50px;
}
.footer-con .info3 p{
    text-align: right;
    margin-right: 35%;
    font-size: 30px;
}
.input{
    display: flex;
    align-items: center;
    /* max-width: 20%; */
}
.footer-con input{
    padding: 5% 20%;
}
.footer-con button{
    background-color: #00bec9;
    padding: 3% 10%;
}